<div class="col-xs-12">
	<h1>Suggestions to Brighten <%= @depressed.first_name %>'s Day</h1>
</div>
<div class="actions-options col-xs-12">
	<div class="messages">
		<h2>Send a Message</h2>
		<span class="glyphicon glyphicon-chevron-down"></span>
		<div class="action-content">
			<form class="form-horizontal">
				<div class="form-group  col-xs-12">
					<label class="col-xs-12 form-label">To: <%= @depressed.first_name %></label>
					<div class="col-xs-12">
						<textarea class="form-control" type="text" placeholder="Type your message here"></textarea>
					</div>
				</div>
				<div class=" col-xs-12">
					<button class="col-xs-11 btn btn-primary" style="margin-bottom: 20px">Send</button>
				</div>
			</form>
			<form class="form-horizontal">
				<div class="form-group  col-xs-12">
					<label class="col-xs-12 form-label">
						To: <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Select from <%= @depressed.first_name %>'s family members<span class="caret"></span></button>
					<ul class="dropdown-menu" role="menu">
					    <li><a href="#">Mom</a></li>
					    <li><a href="#">Dad</a></li>
					    <li><a href="#">Brother</a></li>
					</ul>
					</label>
					<div class="col-xs-12">
						<textarea class="form-control" type="text" placeholder="Type your message here"></textarea>
					</div>
				</div>
				<div class=" col-xs-12">
					<button class="col-xs-11 btn btn-primary" style="margin-bottom: 20px">Send</button>
				</div>
			</form>
		</div>
	</div>
	<div class="reminders">
		<h2>Sign up for Reminders</h2>
		<span class="glyphicon glyphicon-chevron-down"></span>
		<div class="action-content">
		</div>
	</div>
	<div class="events">
		<h2>Events and Activities</h2>
		<span class="glyphicon glyphicon-chevron-down"></span>
		<div class="action-content">
		</div>
	</div>
	<div class="products">
		<h2>Products</h2>
		<span class="glyphicon glyphicon-chevron-down"></span>
		<div class="action-content">
		</div>
	</div>
	<div class="images">
		<h2>Image Sharing</h2>
		<span class="glyphicon glyphicon-chevron-down"></span>
		<div class="action-content">
		</div>
	</div>
</div>

<div class="next-step-container">
	<%= link_to "Next Step", resources_path, class: "next-step" %>
	<span class="glyphicon glyphicon-chevron-right"></span>
</div>