<h1>Suggestions to Brighten <%= @depressed.first_name %>'s Day</h1>


<div class="next-step-container">
	<%= link_to "Next Step", resources_path, class: "next-step" %>
	<span class="glyphicon glyphicon-chevron-right"></span>
</div>