<h1>Depression</h1>
<p>This is a tool to help you learn about depression and discover ways to help those around you affected by it. All supportive actions you take are private and nobody will be notified.</p>
</p>

<div class="inner-addon right-addon">
    <i class="glyphicon glyphicon-search"></i>
		<input type="search" class="form-control" autofocus placeholder="Who is depressed?" />
</div>


<%= link_to "Next Step", learn_path, class: "next-step" %>