<h1>Understanding <%= @depressed.first_name %>'s Depression</h1>
<p>Find me in app/views/steps/learn.html.erb</p>

<div class="next-step-container">
	<%= link_to "Next Step", learn_path, class: "next-step" %>
	<span class="glyphicon glyphicon-chevron-right"></span>
</div>