<h1>Resources</h1>
<ol>
<li>Download Number</li>
<li>Another item</li>
</ol>
<div class="next-step-container">
	<%= link_to "Next Step", learn_path, class: "next-step" %>
	<span class="glyphicon glyphicon-chevron-right"></span>
</div>