/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus{
	color: #9daf08;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a{
	color: #fff;
}
h1 {
	color:$greenColor;
	font-family: $lobsterFont;
}
form{
	margin-top: 20px;
	margin-bottom: 20px;
}
.footer, .navbar-default {
	background-color:$blueColor;
}
#login{
	text-align: center;
	background: #ededed;
	border-radius: 10px;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.navbar-toggle {
	float:left;
	margin-left:15px;
	margin-right:0;

}
.container{
	min-height: 500px;
}
.footer{
	width: 100%;
	text-align: center;
	padding: 20px 0;
}
.footer img{
	height: 60px;
}

.inner-addon {
    position: relative;
}
// Actions
.resource-options h2,
.actions-options h2{
	display: inline-block;
	color: $blueColor;
	font-family: 'Lobster';
	font-size: 1.4em;
	cursor: pointer;
}
.actions-options .glyphicon-chevron-down{
	top: 24px;
	float: right;
}
.actions-options .messages,
.actions-options .reminders,
.actions-options .events,
.actions-options .products,
.actions-options .images{
	width: 100%;
	border-bottom: 1px solid #ededed;
}
.actions-options h2:hover {
	color: $greenColor;
}
.actions-options .glyphicon-chevron-down{
	color:$blueColor;
}
.btn .caret{
	margin-left: 2px;
	margin-top: 8px;
}
.action-content{
	display: none;
}
// Events
.calendar-item{
	margin-bottom: 20px;
}
.event,
.date{
	color: #fff;
	padding: 10px;
}
.event{
	background: $blueColor;
}
.event a{
	color: #fff;
}
.date{
	background-color: $greenColor;
}
.calendar-item p{
	margin: 0;
}
/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.right-addon input { padding-right: 30px; }