// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.next-step-container{
	float:right;
	font-size:1.2em;
	margin:3em 0;
	display:block;
	color: $greenColor;
}
.next-step:hover{
	color: $blueColor;
	text-decoration: none;
}