<style type="text/css">

.sites-widget{
    padding:2em;
    background-color:#bbc8d0;
    color:#1a6ca4 !important;
}
.sites-widget h2{
 color: #1a6ca4 !important;
    margin-bottom: 15px !important;
}
.sites-widget p{
    color: #46677e;
}
.facebook-login{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.facebook-login a, .special-links a{
  background: #46677e;
  color: #fff;
  padding: 10px 20px;
  -webkit-font-smoothing: antialiased;
}
.facebook-login a:hover{
  background: #728b9c;
  text-decoration: none;
}
</style>

<div class="sites-widget">
	<h2>Depression is Closer to Home Than You Think</h2>
	<p>Based on your 568 Facebook friends, depression statistics suggest that:</p>
	<ul style="font-size:1.2em; margin-bottom:30px;">
		<li><span style="font-weight:bold;">102 friends</span> will face major depression in their lifetime</li>
		<li><span style="font-weight:bold;">17 friends</span> are currently battling major depression</li>
	</ul>
	<div style="text-align:center; margin-top:10px;" class="special-links">
		<a href="/learn">I have been feeling down lately</a><br><br><br>
		<a href="/connect">I fear someone I care about may be depressed</a>
	</div>
	<div style="clear:both;">.</div>
<div style="text-align:right;">
  <small style="color:white;">Powered by <span style="color:#1a6ca4 !important;">BrightDay</span></small>
</div>
</div>
