
<div>
	<h2>Depression is Much Closer to Home Than You Think</h2>
	<p>40 million adults are affected by major depression. It can be tough to wrap your head around such a big number, so click to connect with Facebook and we will put it in perspective.</p>

	<a href="clicked">Connect to Facebook</a>
</div>


<div style="margin-bottom:300px;"></div>
