<div style="padding:2em; background-color:#ccc; color:#1a6ca4; border:4px solid #333;">
	<h2>Depression is Closer to Home Than You Think</h2>
	<p>Based on your 568 friends on Facebook, depression statistics suggest that:</p>
	<ul>
		<li>102 of your friends will face major depression in their lifetime</li>
		<li>17 are currently battling with major depression.</li>
	</ul>
	<div style="text-align:center;">
		<a href="/learn">I have been feeling down lately</a>
		<a href="/connect">I fear someone I care about may be depressed</a>
	</div>
</div>


<div style="padding:2em; background-color:#ccc; color:#1a6ca4; border:4px solid #333;">
	<h2>Depression is Closer to Home Than You Think</h2>
	<p>40 million adults are affected by major depression. It can be tough to wrap your head around such a large number, so click to connect with Facebook and we will put it in perspective.</p>

	<div style="text-align:center;">
		<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
	</div>
</div>
