<div>
	<h2>18% of the population is affected by Depression</h2>
	<p>This means that 46 of your facebook friends are troubled.</p>
	<a href="/connec">This sounds like something I suffer with</a>
	<a href="/connec">This sounds like someone I know</a>
</div>


<div style="margin-bottom:300px;"></div>
