
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"https://www.jedfoundation.org/>
	<meta http-equiv="Content-Language" content="en-us" />

	<title>The Jed Foundation </title>

	<meta name="keywords" content="suicide prevention, college, university, mental health, mental health, awareness, teen, depression, anxiety, bipolar, disorder, mental illness, emotional distress, suicide, counseling, therapy, treatment, substance abuse, campus professional, parents, students, mental health advocacy" />
	<meta name="description" content="The Jed Foundation is the nation's leading organization working to reduce emotional distress and prevent suicide among college students." />
	<meta name="robots" content="ALL" />

	<link href="https://www.jedfoundation.org/css/content.css?v=3" rel="stylesheet" type="text/css" media="all" />

	<script src="https://www.jedfoundation.org/js/mootools.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://www.jedfoundation.org/js/jed.js" type="text/javascript" charset="utf-8"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	</head>

<body class="learnmore general">
	<div id="wrap">

		<div id="header">
			<h1><a href="/">The Jed Foundation</a></h1>
			<div id="tagline">preventing suicide and reducing emotional distress</div>
            <ol id="nav">

    	    <li id="about">

	    <a href="https://www.jedfoundation.org/about" class="about" title="About Us"></a>
  		<ul>

  		  <li>
  		      		      <a href="https://www.jedfoundation.org/about/mission">Mission</a>
  		      		  </li>

  		  <li>
  		      		      <a href="https://www.jedfoundation.org/about/history">History</a>
  		      		  </li>

  		  <li>
  		      		      <a href="https://www.jedfoundation.org/about/jed-news">Jed News</a>
  		      		  </li>

  		  <li>
  		      		      <a href="https://www.jedfoundation.org/about/boards">Board of Directors</a>
  		      		  </li>

  		  <li>
  		      		      <a href="https://www.jedfoundation.org/about/board-of-advisors">Advisory Board</a>
  		      		  </li>

  		  <li>
  		      		      <a href="https://www.jedfoundation.org/about/staff">Staff</a>
  		      		  </li>

  		  <li>
  		      		      <a href="https://www.jedfoundation.org/about/student-advisory-council">Student Advisory Council</a>
  		      		  </li>

  		  <li>
  		      		      <a href="https://www.jedfoundation.org/about/careers">Careers</a>
  		      		  </li>

  		  <li>
  		      	  	    <a href="https://www.jedfoundation.org/contact-us">Contact Us</a>
  		      		  </li>

  		  <li>
  		      		      <a href="https://www.jedfoundation.org/about/awards">Awards</a>
  		      		  </li>

  		  <li>
  		      		      <a href="https://www.jedfoundation.org/about/financials">Financials</a>
  		      		  </li>

  		</ul>
    </li>

    	    <li id="programs">

	    <a href="https://www.jedfoundation.org/programs" class="programs" title="Programs"></a>
  		<ul>

  		  <li>
  		      	  	    <a href="https://www.jedfoundation.org/professionals/programs-and-research">For Campus Professionals</a>
  		      		  </li>

  		  <li>
  		      	  	    <a href="https://www.jedfoundation.org/parents/programs">For Parents</a>
  		      		  </li>

  		  <li>
  		      	  	    <a href="https://www.jedfoundation.org/students/programs">For Students</a>
  		      		  </li>

  		</ul>
    </li>

    	    <li id="learn" class="over">

	    <a href="https://www.jedfoundation.org/learn-more" class="learn" title="Learn More"></a>
  		<ul>

  		  <li>
  		      		      <a href="https://www.jedfoundation.org/learn-more/about-our-cause">About Our Cause</a>
  		      		  </li>

  		  <li>
  		      		      <a href="https://www.jedfoundation.org/learn-more/about-mental-health">About Mental Health</a>
  		      		  </li>

  		  <li>
  		      		      <a href="https://www.jedfoundation.org/learn-more/about-suicide-prevention">About Suicide Prevention</a>
  		      		  </li>

  		  <li>
  		      		      <a href="https://www.jedfoundation.org/learn-more/about-seeking-help">About Seeking Help</a>
  		      		  </li>

  		  <li>
  		      		      <a href="https://www.jedfoundation.org/learn-more/resources-and-links">Resources & Links</a>
  		      		  </li>

  		</ul>
    </li>

    	    <li id="involved">

	    <a href="https://www.jedfoundation.org/get-involved" class="involved" title="Get Involved"></a>
  		<ul>

  		  <li>
  		      		      <a href="https://www.jedfoundation.org/get-involved/make-a-donation">Make A Donation</a>
  		      		  </li>

  		  <li>
  		      	  	    <a href="https://jedfoundation.org/newsletter">Sign Up For Email List</a>
  		      		  </li>

  		  <li>
  		      		      <a href="https://www.jedfoundation.org/get-involved/past events">Past Events</a>
  		      		  </li>

  		  <li>
  		      		      <a href="https://www.jedfoundation.org/get-involved/giftofsecurities">Make a Gift of Securities</a>
  		      		  </li>

  		  <li>
  		      		      <a href="https://www.jedfoundation.org/get-involved/matchinggifts">Matching Gifts</a>
  		      		  </li>

  		  <li>
  		      		      <a href="https://www.jedfoundation.org/get-involved/taxfreeira">Tax-Free Charitable IRA Distributions</a>
  		      		  </li>

  		  <li>
  		      		      <a href="https://www.jedfoundation.org/get-involved/corporate-partner">Become a Corporate Partner or Sponsor</a>
  		      		  </li>

  		  <li>
  		      		      <a href="https://www.jedfoundation.org/get-involved/work-with-us">Volunteer </a>
  		      		  </li>

  		  <li>
  		      		      <a href="https://www.jedfoundation.org/get-involved/love-is-louder-store">Love is Louder Store</a>
  		      		  </li>

  		</ul>
    </li>

    	    <li id="press">

	    <a href="https://www.jedfoundation.org/press-room" class="press" title="Press Room"></a>
  		<ul>

  		  <li>
  		      		      <a href="https://www.jedfoundation.org/press-room/press-releases">Press Releases</a>
  		      		  </li>

  		  <li>
  		      		      <a href="https://www.jedfoundation.org/press-room/news-archive">News Archive</a>
  		      		  </li>

  		</ul>
    </li>
  </ol>		</div>
		<!-- #header -->

		<div id="content">

<div id="main">
            <div id="feature" class="general-pages">

            <img src="https://www.jedfoundation.org/images/learnmore-main-img.jpg" width="475" height="125" alt="" />

    <p style="margin-top: 32px"><b>Need help now?</b><br/> Call <span>1-800-273-TALK (8255)</span></p>
</div>        <!-- #feature -->

    <div id="main_content">
                    <h2>Learn More</h2>
            <div id="print_email_bar">
                <img src="https://www.jedfoundation.org/images/print.gif" alt="Print" />
                <a href="?print=true" target="_blank">Print</a>
                &middot;
                <img src="https://www.jedfoundation.org/images/email.gif" alt="Email" />
                <a href="https://www.jedfoundation.org/email-to-a-friend/9e0667f8712bea0475c847c1e86dd3e8/learn-more/about-suicide-prevention">Email</a>
            </div>


        <div id="main_main">
            <h3 class="sub">About Suicide Prevention&nbsp;</h3>


<%=
if (params[:id] == "clicked")
		render "widget_second"
	else
		render "widget"
	end %>


            <!-- .section -->

        </div>
        <!-- #main_main -->

        <div id="main_aside">
            <ul id="right_nav">
                    <li>
                      <a href="https://www.jedfoundation.org/learn-more/about-our-cause">About Our Cause</a>
                  </li>

                  <li>
                      <a href="https://www.jedfoundation.org/learn-more/about-mental-health">About Mental Health</a>
                  </li>

                  <li class="active">
          <a href="https://www.jedfoundation.org/learn-more/about-suicide-prevention">About Suicide Prevention</a>
        </li>

                  <li>
                      <a href="https://www.jedfoundation.org/learn-more/about-seeking-help">About Seeking Help</a>
                  </li>

                  <li>
                      <a href="https://www.jedfoundation.org/learn-more/resources-and-links">Resources &amp; Links</a>
                  </li>



</ul>
<!-- #right_nav --><div class="section featured_links">
	<h3>
	  Featured Links
	</h3>
                  <p>
          <a href="http://www.nimh.nih.gov/" target="_blank">National Institute of Mental Health (NIMH)</a><br />
			<p>The largest scientific organization in the world dedicated to research focused on the understanding, treatment, and prevention of mental disorders and the promotion of mental health.</p>
        </p>
    	        <p>
          <a href="http://www.adaa.org/" target="_blank">Anxiety Disorders Association of America</a><br />
			<p>Dedicated to the prevention, treatment, and cure of anxiety disorders and to improving the lives of all people who suffer from them.</p>
        </p>

		<p style="text-align: right;"><a href="https://www.jedfoundation.org/learn-more/resources-and-links">See more links</a></p>

</div>
<!-- .section .featured_link --><div class="section spotlight">
	<h3>
	  Spotlight
	</h3>
  <p>
          <p><strong>Helping Our Student Veterans Succeed</strong></p>
<p>The Jed Foundation, with the Bob Woodruff Foundation, is offering a  <a href="https://www.jedfoundation.org/professionals/programs-and-research/helping-our-student-veterans-succeed">FREE Continuing Education</a> online program to raise awareness and provide guidance on how to better integrate student veterans into college campus life.</p>
      </p>
</div>
<!-- .section .spotlight -->
        </div>
        <!-- #main_aside -->

    </div>
    <!-- #main_content -->

</div>
<!-- #main -->


						<div id="aside">
                <ul id="sub_nav">

  	<li class="parents">
  	  <span><a href="https://www.jedfoundation.org/parents" class="top_level first"></a></span>
  	    		  <ul>


          			  <li>
  			    <a href="https://www.jedfoundation.org/parents/programs">Programs</a>
  			  			</li>

          			  <li>
  			    <a href="https://www.jedfoundation.org/parents/tools-and-advice">Tools &amp; Advice</a>
  			  			</li>

          			  <li>
  			    <a href="https://www.jedfoundation.org/parents/resources-and-links">Resources &amp; Links</a>
  			  			</li>

  		</ul>
    </li>

  	<li class="students">
  	  <span><a href="https://www.jedfoundation.org/students" class="top_level first"></a></span>
  	    		  <ul>


          			  <li>
  			    <a href="https://www.jedfoundation.org/students/programs">Programs</a>
  			  			</li>

          			  <li>
  			    <a href="https://www.jedfoundation.org/students/resources-and-links">Resources &amp; Links</a>
  			  			</li>

  		</ul>
    </li>

  	<li class="professionals">
  	  <span><a href="https://www.jedfoundation.org/professionals" class="top_level first"></a></span>
  	    		  <ul>


          			  <li>
  			    <a href="https://www.jedfoundation.org/professionals/programs-and-research">Programs &amp; Research</a>
  			  			</li>

          			  <li>
  			    <a href="https://www.jedfoundation.org/professionals/upcoming-conferences">Upcoming Conferences</a>
  			  			</li>

          			  <li>
  			    <a href="https://www.jedfoundation.org/professionals/resources-and-links">Resources &amp; Links</a>
  			  			</li>

  		</ul>
    </li>

  	<li class="supporters">
  	  <span><a href="https://www.jedfoundation.org/supporters" class="top_level first"></a></span>
  	    		  <ul>


          			  <li>
  			    <a href="https://www.jedfoundation.org/supporters/get-involved">Get Involved</a>
  			  			</li>

          			  <li>
  			    <a href="https://www.jedfoundation.org/supporters/resources-and-links">Resources &amp; Links</a>
  			  			</li>

  		</ul>
    </li>
  </ul>                <div id="jed-campus-link">
                    <a href="http://www.jedcampus.org" target="_blank">
                        <img src="https://www.jedfoundation.org/images/jed-clinton-foundation-logo.png" alt="Jed &amp; Clinton Health Matters Campus Program" height="55" width="191" />
                    </a>
                </div>
                <div id="get_involved">
    <h3><a href="https://www.jedfoundation.org/get-involved">Get Involved!</a></h3>
    <br />

    <ul>
        <li>
            <a href="https://www.jedfoundation.org/get-involved/make-a-donation">Make a donation&nbsp;&raquo;</a>
        </li>

                <li>
            <div id="newsletter">

<script type="text/javascript">
function update_name() {
    var name = document.getElementById('newsletter_first').value + ' ' + document.getElementById('newsletter_last').value;
    document.getElementById('name').value = name;
}

function validate_newsletter() {
    var errors = [];
    with (document.forms['newsletter-submit'].elements) {
        var all_checked = (
            Parent_site.checked ||
            Students_site.checked ||
            Professionals_site.checked ||
            Supporters_site.checked ||
            GeneralSite.checked
        );

        if (!all_checked) {
            errors.push('Please select a list.');
        }

        if (name.value.length < 3 || newsletter_first.value === 'First Name' || newsletter_last.value === 'Last Name') {
            errors.push('Please enter your name.');
        }

        if (newsletter_email.value === 'you@domain.com') {
            errors.push('Please enter your email.');
        }
    }

    if (!errors.length) {
        return true;
    } else {
        var new_html = '';
        for (i = 0; i < errors.length; i++) {
            new_html += '<li style="color: #a00; display: list-item;">' + errors[i] + '</li>';
        }
        document.getElementById('error-list').innerHTML = new_html;
        document.getElementById('errors').style.display = 'block';
    }
    return false;
}
</script>

                Sign up for our newsletter&nbsp;&raquo;<br />
                <p id="errors" style="color: #aa0000; display: none; margin: 10px 0 0; font-size: smaller;">
                    <ul id="error-list" style="list-style-type: disc; font-size: smaller;padding-left: 1.5em"></ul>
                </p>
                <form action="https://thejedfoundation.createsend.com/t/r/s/kllkld/" id="newsletter-submit" method="post" onsubmit="return validate_newsletter();">
                <input type="hidden" name="cm-name" id="name" value=" "https://www.jedfoundation.org/>
                <fieldset class="collapsed">
                    <input id="newsletter_email" name="cm-kllkld-kllkld" value="you@domain.com" class="field" style="margin-top: 4px" />
                    <div class="extra">
                        <input id="newsletter_first" onchange="update_name();" value="First Name" class="field" style="margin: 4px 0" /> <br />
                        <input id="newsletter_last" onchange="update_name();" value="Last Name" class="field" style="margin-bottom: 4px" /> <br />
                        Are you a: <br />
                        <label><input type="checkbox" name="cm-ol-kllklu" id="Parent_site" /> Parent</label><br />
                        <label><input type="checkbox" name="cm-ol-kllkc" id="Students_site" /> Student</label><br />
                        <label><input type="checkbox" name="cm-ol-kllkp" id="Professionals_site" /> Campus professional</label><br />
                        <label><input type="checkbox" name="cm-ol-kllkyh" id="Supporters_site" /> Supporter</label><br />
                        <label><input type="checkbox" name="cm-ol-kllhud" id="GeneralSite" /> Other</label>
                    </div>
                    <input id="newsletter-go" type="image" src="https://www.jedfoundation.org/images/gl-input-go2-bg.gif" name="go" value="Go" />
                </fieldset>
                </form>
            </div>
            <!-- #newsletter -->
        </li>

        <li class="last">
            <a href="https://www.jedfoundation.org/get-involved">Find out more&nbsp;&raquo;</a>
        </li>
    </ul>

</div>
<!-- #get_involved --><div id="search">
	<form action="https://www.jedfoundation.org/search" method="post">
		<fieldset>
			<input id="search_query" name="search_query" value="Search" class="field" />
			<input id="go" type="image" src="https://www.jedfoundation.org/images/gl-input-go-bg.gif" name="go" value="Go" />
		</fieldset>
	</form>
</div>
<!-- #search --><div class="finduson">
	<h3>Find us on:</h3>

	<div style="float: left; width: 40%; margin: 10px 0 0 6%;">
		<a href="http://www.facebook.com/pages/The-Jed-Foundation/21110003613" target="_blank"><img src="https://www.jedfoundation.org/images/facebook.gif" alt="Facebook" width="16" height="16" /> Facebook</a><br />
		<a href="http://twitter.com/jedfoundation" target="_blank" ><img src="https://www.jedfoundation.org/images/twitter.gif" alt="Twitter" width="16" height="16" /> Twitter</a><br />
		<a href="http://www.linkedin.com/company/427578?trk=prof-0-ovw-curr_pos" target="_blank"><img src="https://www.jedfoundation.org/images/linkedin.png" alt="LinkedIn" width="15" height="15" /> LinkedIn</a>
	</div>

	<div style="float: right; width: 45%; margin-top: 10px">
		<a href="http://www.youtube.com/thejedfoundation" target="_blank"><img src="https://www.jedfoundation.org/images/youtube.gif" alt="YouTube" width="16" height="16" /> YouTube</a><br />
		<a href="https://plus.google.com/112694147083256015167" target="_blank" rel="publisher" ><img src="https://www.jedfoundation.org/images/googleplus.png" alt="YouTube" width="16" height="16" /> Google +</a><br/>
		<a href="http://instagram.com/jedfoundation" target="_blank" ><img src="https://www.jedfoundation.org/images/instagram-16x16.png" alt="Instagram" width="16" height="16" /> Instagram</a><br />
	</div>








	<br style="clear: both;" />


</div>
<!-- .find_us_on -->

<div class="bbb-logo">
  <a href="http://search.newyork.bbb.org/reports.aspx?action=search2&page=0&cid=1383&Name=The+Jed+Foundation&Region=Any&Category=Any&letter=&Ranking=&meetLetter=m">
    <img src="https://www.jedfoundation.org/images/BBB_logo.jpeg" />
  </a>
</div>
			</div>
			<!-- #aside -->

			<div class="clear"></div>
		</div>
		<!-- #content -->

	</div>
	<!-- #wrap -->


	<div id="footer">
        <p>Love is Louder is a registered trademark of The Jed Foundation</p>
		<ul>
					<li>1140 Broadway, Ste. 803, New York, New York, 10001, Tel: 212-647-7544, Fax: 212-647-7542</li>
  			<li><a href="https://www.jedfoundation.org/terms-of-use">Terms of Use</a></li>
  			<li><a href="https://www.jedfoundation.org/privacy">Privacy</a></li>
  			<li class="last"><a href="https://www.jedfoundation.org/contact-us">Contact Us</a></li>
  				</ul>
		<p>&copy; 2014 The Jed Foundation. All Rights Reserved.</p>
	</div>
	<!-- #footer -->


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3524656-2");
pageTracker._trackPageview();
</script>
</body>
</html>